<!DOCTYPE html>
<html lang="dk">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jutlandia: {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' )}}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}"/>
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
