{% extends"base.html" %}
{% block title %}Editing: {{event.name}}{% endblock %}
{% block content %}
<header>
    <h1> Editing: {{event.name}}
</header>
<form action="/api/update_event" method="post">
    <input type="hidden" name="id" id="id" value="{{event.id}}">
    <input type="text" name="name" id="name" value="{{event.name}}">
    <input type="text" name="link" id="link" value="{{event.link}}">
    <input type="text" name="date" id="date" value="{{event.date}}">
    <input type="text" name="location" id="location" value="{{event.location}}">
    {% if event.over %}
    <input type="checkbox" name="over" id="over" checked>
    {% else %}
    <input type="checkbox" name="over" id="over">
    {% endif %}
    <label for="over">Over?</label>
    <input type="submit">
</form>
{% endblock %}
