{% extends "base.html" %}
{% block title %} Admin {% endblock %}
{% block head %}
{{super()}}
<style type="text/css">
 input{
     border: none;
     background-color: #333333;
     margin-bottom: 0.5em;
 }

 table{
     width: 100%;
 }
</style>
{% endblock %}
{% block content %}
<header>
    <h1 class="title">Administration</h1>
</header>
Add event:
<form action="/api/add_event" method="post">
    <input type="text" placeholder="name"     name="name"     id="name"    >
    <input type="url" placeholder="link"     name="link"     id="link"    >
    <input type="date" placeholder="date"     name="date"     id="date"    >
    <input type="text" placeholder="time"     name="time"     id="time"    >
    <input type="text" placeholder="location" name="location" id="location">
    <input type="submit" value="Add event">
</form>
<div id="events">
    <h2>Events</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Link</th>
                <th>Date</th>
                <th>Location</th>
                <th>Over</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events|reverse %}
            <tr>
                <th>{{ event.id }}</th>
                <th>{{ event.name }}</th>
                <th>{{ event.link }}</th>
                <th>{{ event.date }}</th>
                <th>{{ event.location }}</th>
                <th>{{ event.over }}</th>
                <th><a href="/admin/edit_event/{{event.id}}">Edit</a></th>
                <th><a href="/api/delete_event?id={{event.id}}">Delete</a></th>
            </tr>
            {% endfor %}
        <tbody>
    </table>
</div>

<div style="right: 0; top: 0; position: fixed;">
    <a href="/">Home page</a>
</div>
{% endblock %}
