<!DOCTYPE html>
<html lang="da">
    <head>
        {% block head %}
        <meta name="description" content="Vi er en forening, der er dedikeret til at hjælpe begyndere inden for cybersikkerhed med at udvikle deres færdigheder i hacking og cybersecurity. Bosat i Nordjylland, mødes vi regelmæssigt på Aalborg Universitet for at udforske og udvikle vores tekniske færdigheder og viden om cybersikkerhed.
        ">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jutlandia: {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' )}}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}"/>
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
